page-tables {
    ion-toolbar{
        ion-title{
            padding-left:100px;
            font-weight:bold;
            font-family: 'Gotham Bold';

        }
        
    }
        
        .list-md {
            margin: -1px 0 0px;
                border-bottom: 2px solid;
                border-bottom-color: map-get($colors,secondary);
            
        }
        .fa{
            font-size: 16px;
        }
        .icon-star:before {
            content: "\e913";
            color: #ffba00;
            font-size: 15px;
    
          }
        ion-app.md [padding] {
            padding: 0px;
        }
        ion-content ion-icon{
            color:map-get($colors,secondary);
            // padding-top:35px;
        }
        ion-content ion-list button h2{
            padding:5px 0 0 0;
            font-family: 'Gotham Medium';

        }
        ion-content ion-list button p{
            font-family: 'Gotham Book';

        }
        ion-content ion-list button div h1{
            color:map-get($colors,danger);
            font-weight: bold;
            padding-top:10px;
            display: table;
            font-family: 'Gotham Medium';

        }
     button outline{
            color:map-get($colors,danger) !important;
            height: 3vw;
        }
    
    }
