page-tables {
    ion-navbar{
        ion-title{
            padding-left:60px;
            font-weight:bold;
        }
    }
        
        .list-md {
            margin: -1px 0 0px;
                border-bottom: 2px solid;
                border-bottom-color: map-get($colors,secondary);
            
        }
    
        ion-app.md [padding] {
            padding: 0px;
        }
        ion-content ion-icon{
            color:map-get($colors,yellowcolor);
            // padding-top:35px;

        }
        ion-content h1{
            color:map-get($colors,danger);
            font-weight: bold;
            padding-top:10px;
            display: table;
        }
     button outline{
            color:map-get($colors,danger) !important;
            height: 3vw;
        }
    
    }
