<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons left>
            <button ion-button navPop icon-only>
                <ion-icon clear class="icon-back" aria-hidden="true"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{category_name}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only end>
                <ion-icon class="icon-add2"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list *ngFor="let data of productlist">
        <button full outline ion-item (click)="openItemDetails(data.id,data.product_category_id)">
            <ion-thumbnail item-start>
                <img src="{{data.product_images}}" />
            </ion-thumbnail>
            <h2>{{data.name}}</h2>
            <p>{{data.producer}}</p>
            <div>
                <h1 style="float:left">Rs.{{data.cost}}</h1>
                <i style="float:right">
                    <ion-icon item-end *ngFor="let n of [1,2,3,4,5]; let i = index" [class]="i < data.rating ? 'icon-star' : 'fa fa-star'"></ion-icon>
                </i>
            </div>
        </button>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>