page-myorders {
    ion-title{
        padding-left:80px;
        font-family: 'Gotham Bold';

    }
    ion-item {
        border-bottom-color: map-get($colors,secondary);
        
    }
    .list-md {
        margin: 0px 0 0px;
        border-bottom: 1px solid;
        border-bottom-color: map-get($colors,secondary);
    }
    .stylediv1{
    display: table;
    float:left;
    font-family: 'Gotham Book';
    padding :5px;


    }
    .stylediv2{
        display: table;
        float:right;
        font-family: 'Gotham Book';

    }

        .stylediv2>h3 {
            padding:15px;
            font-family: 'Gotham Book';

        }
        
}
