<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons left>
            <button ion-button navPop icon-only>
                <ion-icon clear class="icon-back" aria-hidden="true"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title *ngIf="!isSearchBarOpen">My Orders</ion-title>
        <ion-searchbar type="number" *ngIf="isSearchBarOpen" (ionInput)="onInput($event)" showCancelButton="true" (ionCancel)="ionViewDidLoad()"
            placeholder="Search..."></ion-searchbar>
        <ion-buttons right *ngIf="!isSearchBarOpen" (click)="isSearchBarOpen=true">
            <button ion-button icon-only>
                <ion-icon clear class="icon-add2" aria-hidden="true"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list *ngFor="let data of orders">
        <ion-item (click)="getOrder(data.id)">
            <div class="stylediv1">
                <h3>Order ID:{{data.id}}</h3>
                <hr>
                <p>Ordered Date:{{data.created}}</p>
            </div>
            <div class="stylediv2">
                <h3>
                    <i class="fa fa-rupee"></i>{{data.cost}}
                </h3>

            </div>
        </ion-item>
    </ion-list>
</ion-content>