page-order {
    ion-title{
        padding-left:80px;
        font-family: 'Gotham Bold';

    }
    
    .list-md {
        margin: 0px 0 0 0px;
        border-bottom: 1px solid;
        border-bottom-color: map-get($colors,secondary);
    }
    ion-list ion-item h3, h2, p{
        padding :5px;
        font-family: 'Gotham Book';

    }
}
