.platform-android, .platform-ios, .platform-browser,.platform-cordova{

page-store-locator {
    ion-navbar ion-title{
        padding-left:70px;
    }
    .scroll {
        height: 100%;
      }
 
      #map {
        width: 100%;
        height: 40%;
      }
      ion-icon {
        display: block;
        font-size: rem;
        float:left;
        padding-top:20px;
    }
    .icon-pin:before {
        content: "\e90d";
        color: map-get($colors, dark4 );
      }
    .label-md {
        margin: 5px 8px 13px 0;
    }
    .stylediv1{
        display:block;
        float:left;
        font-family: 'Gotham Book';
        padding:10px 0 0 20px;
        }
        .stylediv1 p{
            font-size: 1.2rem;
            font-family: 'Gotham Book';
            }
        
    }
}
