page-home{
    ion-title{
        padding-left:55px;
        font-family:'Gotham Bold';

    }
    .icon-menu:before {
        content: "\e9bd";
        color: #fff;
        font-size: 25px;

      }
    .icon-add2:before {
        content: "\e902";
        color: #fff;
        font-size: 25px;
      }
      
    ion-content{
        ion-slides{
            width:100%;
            height:auto;
        }
        .grid {
            padding: 0px !important;
        }

            .icon-table:before {
            content: "\e914";
            color: #fff;
            font-size:100px;
          }
          .icon-chair:before {
            content: "\e904";
            color: #fff;
            font-size:90px;
            padding-left:40px;
          }
          .icon-sofa:before {
            content: "\e912";
            color: #fff;
            font-size:100px;
            padding: 2px;
            text-align: end;
          }
          .icon-cupboard:before {
            content: "\e905";
            color: #fff;
            font-size:80px;
            padding-left:30px;

          }
          
        .swiper-container-horizontal > 
        .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 5px;
            background: map-get($colors,danger);
        }
       .col{
           margin: 5px 5px 5px 5px !important;
           position: relative;
       }
        //   .divcontainer{
        //     padding:10px 10px 0px 10px;          
        // }
        // ion-row{
        //     padding:0px 0px 0px 0px;
        // }
        // .label-md {
        //     margin: 0px 0px 0px 0px;;
        // }
        // ion-item{
        //     height:20vh;
        //     width:10vw;
        //     position: relative;
        // }
          .table{      
            // display: inline-flex;
            background-color: map-get($colors,danger);
            padding:10px;
        }      

        .table h5{
            font-size: 2.2rem;
            font-weight: bold;
            line-height: normal;
            color: map-get($colors,light);
            display:block;
            margin:0px 0px;
            font-family: 'Gotham Medium';

    }
    ion-footer {
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        padding: 0 10px 30px 10px ;
    }

}

}
