// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


    
ion-menu{
    ion-label{
        background-color: map-get($colors,dark2);
        font-size: 20px;
    }
    ion-label img{
        text-align: center;
        border:2px solid map-get($colors,light);
        border-radius:50%;
        height:13vh;
        width:22vw;
        background-repeat: no-repeat;
        // background-position: cover;
        margin-left: 110px;
        margin-top: 53px;
    }
    ion-label .div2{
        color:map-get($colors,light);
        text-align: center;
        font-size: 25px;
        padding:20px 0px 0px 0px; 
        font-family: 'Gotham Medium';

    }
    ion-label .div3{
        color:map-get($colors,light);
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        padding:5px 0px 0px 0px; 
        font-family: 'Gotham Medium';

    }
    .label-md {
        margin:0;
        padding:7px;
    }
    .list-md {
        margin: 0px 0 0px;
        padding:14px 0 0 0;
    }
    ion-list{
        background-color: map-get($colors,dark2);
    }
    ion-item {
        border-bottom-color: map-get($colors,dark4);
        
    }
    ion-list button{
        font-family: 'Gotham Medium';

    }
    ion-list button label {
        font-family: inherit;
        line-height: normal;
        padding-left:20px;
    }
    // ion-list button ion-icon{
    //     height: 6vh;
    //     width:15vw;
    // }
    ion-list button span{
        margin:0 0px 0 100px;
        border: 2px;
        border-radius: 15px !important;
        display: inline-block;
        height: 30px;
        width: 33px;
        text-align: center;
        padding:5px;
        background-color: map-get($colors,danger);
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid map-get($colors,dark4);
        padding-right:0;
    }
 }
     .mymodal{
    position: absolute !important;
    width: 90% !important;
    height: 80% !important; 
    top: 10% !important;
    left: 5% !important;
    border:2px;
    border-radius: 5px;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
  }

  
//   ion-icon {
//     &[class*="fn-"] {
//        background-size: contain;
//        background-position: 50% 50%;
//        background-repeat: no-repeat;
//        width: 0.8em;
//        height: 0.8em;
//        padding:10px;
//     }
    
//     &[class*="fn-pin"] {
//         background-image: url(../assets/fonts/pin.svg);
//        color:map-get($colors, light);
//     }
//     &[class*="fn-chair"] {
//         background-image: url(../assets/fonts/event_seat.svg);
//     }
//     &[class*="fn-add"] {
//         background-image: url(../assets/fonts/add.svg);
//        color:map-get($colors, light);
//     }
//     &[class*="fn-cart"] {
//         background-image: url(../assets/fonts/cart.svg);
//     }
//     &[class*="fn-person"] {
//         background-image: url(../assets/fonts/user.svg);
//        color:map-get($colors, light);
//     }
//     &[class*="fn-cupboard"] {
//         background-image: url(../assets/fonts/cupboard.svg);
//     }
//     &[class*="fn-delete"] {
//         background-image: url(../assets/fonts/delete.svg);
//        color:map-get($colors, light);
//     }
//     &[class*="fn-down_arrow"] {
//         background-image: url(../assets/fonts/down_arrow.svg);
//     }
//     &[class*="fn-lock"] {
//         background-image: url(../assets/fonts/lock.svg);
//     }
//     &[class*="fn-logout"] {
//         background-image: url(../assets/fonts/logout.svg);
//     }
//     &[class*="fn-mail"] {
//         background-image: url(../assets/fonts/mail.svg);
//     }
//     &[class*="fn-rupees"] {
//         background-image: url(../assets/fonts/rupees.svg);
//     }
//     &[class*="fn-search"] {
//         background-image: url(../assets/fonts/search.svg);
//     }
//     &[class*="fn-settings"] {
//         background-image: url(../assets/fonts/settings.svg);
//     }
//     &[class*="fn-sofa"] {
//         background-image: url(../assets/fonts/sofa.svg);
//     }
//     &[class*="fn-star"] {
//         background-image: url(../assets/fonts/star.svg);
//     }
//     &[class*="fn-table"] {
//         background-image: url(../assets/fonts/table.svg);
//     }
//     &[class*="fn-list"] {
//         background-image: url(../assets/fonts/profile.svg);
//     }
// }