// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


    
ion-menu{
    ion-label{
        background-color: map-get($colors,dark2);
        font-size: 20px;
    }
    .label-ios ,.label-md  {
       margin: 0px;
    }
    .scroll-content{
        background-color: map-get($colors,dark2);
    }
    ion-label img{
        text-align: center;
        border:2px solid map-get($colors,light);
        border-radius:50%;
        height:15vh;
        width:25vw;
        background-repeat: no-repeat;
        // background-position: cover;
        margin-left: 110px;
        margin-top:30px;
    }
    ion-label .div2{
        color:map-get($colors,light);
        text-align: center;
        font-size: 25px;
        padding:20px 0px 0px 0px; 
        font-family: 'Gotham Medium';

    }
    ion-label .div3{
        color:map-get($colors,light);
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        padding:5px 0px 0px 0px; 
        font-family: 'Gotham Medium';

    }
    
    .list-md {
        margin: 0px 0 0px;
        padding:14px 0 0 0;
    }
    ion-list{
        background-color: map-get($colors,dark2);
        padding-top:20px;
    }
    
    ion-item {
        border-bottom-color: map-get($colors,dark4);
        
    }
    ion-list button{
        font-family: 'Gotham Medium';

    }
    ion-list button label {
        font-family: inherit;
        line-height: normal;
        padding-left:20px;
    }
    .icon-cart1:before {
        content: "\e903";
        color: #fff;
        font-size: 22px;
      }
      .icon-chair:before {
        content: "\e904";
        color: #fff;
        font-size: 22px;

      }
      .icon-cupboard:before {
        content: "\e905";
        color: #fff;
        font-size: 22px;

      }
      .icon-logout:before {
        content: "\e90b";
        color: #fff;
        font-size: 22px;

      }
      .icon-pin:before {
        content: "\e90d";
        color: #fff;
        font-size: 22px;

      }
      .icon-profile1:before {
        content: "\e90e";
        color: #fff;
        font-size: 22px;

      }
      .icon-table:before {
        content: "\e914";
        color: #fff;
        font-size: 22px;
      }
      .icon-user:before {
        content: "\e915";
        color: #fff;
        font-size: 22px;
      }
      .icon-sofa:before {
        content: "\e912";
        color: #fff;
        font-size: 22px;
      }
      .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid map-get($colors,dark4);
    }
    .list-ios > .item-block:first-child {
        border-top: 0.55px solid  map-get($colors,dark4);
    }
    .list-ios > .item-block:last-child{
        border-bottom: 0.55px solid map-get($colors,dark4);
    }
    ion-list button span{
        margin:0 0px 0 100px;
        border: 2px;
        border-radius: 15px !important;
        display: inline-block;
        height: 30px;
        width: 33px;
        text-align: center;
        padding:5px;
        background-color: map-get($colors,danger);
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid map-get($colors,dark4);
        padding-right:0;
    }
 }
     .mymodal{
    position: absolute !important;
    width: 90% !important;
    height: 80% !important; 
    top: 10% !important;
    left: 5% !important;
    border:2px;
    border-radius: 5px;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
  }
