page-forgotpassword {
 ion-content{
     background-image:url('../../assets/imgs/Android_bg.jpg');
     background-repeat: no-repeat;
     background-size: cover;

 }
 ion-title{
     padding-left:55px;
     font-family: 'Gotham Medium';

 }
 .login-head{
    padding-bottom:2px 0px 2px 0px;
    color:map-get($colors,light);
    font-size: 40px;
    font-family: 'Gotham Bold';
    flex-wrap: nowrap;
    margin-top:100px;
}
form{
    margin: 0;
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:0px;

}
ion-row{
    align-items: center;
    text-align: center;
}
ion-input {
    font-size: 2rem;
    color: map-get($colors,light);
    height: 6.8vh;
}
.text-input::-webkit-input-placeholder { 
    color: map-get($colors,light);
    font-size: 2rem;
}
ion-app.md [padding] .scroll-content {
    padding:0px;
}
.innericon  ion-icon ion-input{
    font-family: 'Gotham Medium';
    font-size: 18px;
    color:map-get($colors,light);
    height: 7vh;
    
}
.innericon{
    position: relative;
    border:1px solid map-get($colors,light);
    border-radius: 0px !important;
    font-size: 18px;
}
.innericon ion-icon{
    float: left;
    height: 100%;
    display: block;
    margin: 10px 8px 10px 8px;    
}
.text-input::-webkit-input-placeholder { 
    color: map-get($colors,light);
    font-size: 2rem;
}
ion-app.md [padding] .scroll-content {
    padding:0px;
}
.login-btn{
    border:2px solid map-get($colors,light);
    border-radius: 5px;
    background:map-get($colors,light);
    color:map-get($colors,danger);
    font-size: 25px;
    font-family: 'Gotham Medium';

}
.text-input-md {
    font-family: 'Gotham Medium';
        margin: 11px 11px;
        color:map-get($colors,light);
        width: calc(100% - 8px - 8px);
}
.ion-text::placeholder { 
        color: map-get($colors,light);
        opacity: 1; 
        font-family: 'Gotham Medium';

    }
    .ion-text{
        font-size:2rem;

    }
     b, strong {
            font-size: 15px;
            font-family: 'Gotham Medium';

    }
    .accountdiv{
        padding-left:15px;
        padding-right:15px;
    }
    
}
