page-reset-password {
    .scroll-content{
        padding:0px !important;
    }
    ion-title{
        padding-left:40px;
        font-family:'Gotham Bold';

    }
    ion-content{
        background-image: url('../../assets/imgs/Android_bg.jpg');
        background-size:cover;
        background-repeat: no-repeat;
    }
    .labelhead{
        padding:15px 0px 15px 0px;
        color:map-get($colors,light);
        font-size: 45px;
        flex-wrap: nowrap;
        margin-top:20px;
        font-family: 'Gotham Medium';

    }
    
    form{
        padding-left:20px;
        padding-right:20px;

    }
    ion-row{
        align-items: center;
        text-align: center;
    }
    ion-input {
        font-size: 2rem;
        color: map-get($colors,light);
        height: 6.8vh;
        font-family: 'Gotham Medium';

    }
    .text-input::-webkit-input-placeholder { 
        color: map-get($colors,light);
    }
    .innericon{
        position: relative;
        border:1px solid map-get($colors,light);
        border-radius: 0px !important;
        font-size:6vw;
        align-items: center;
        align-content: flex-start;


    }
    .innericon ion-icon{
        float: left;
        height: 100%;
        display: block;
        margin: 8px 8px 10px 8px;    
    }
    .spacetag{
        height:10px;
    }
    .text-input-md {
        margin: 10px 8px;
        padding: 0.2rem;
        width: calc(100% - 8px - 8px);
        font-family: 'Gotham Medium';

    }
    .resetBtn{
        border:1px solid map-get($colors,light);
        border-radius: 5px;
        color:map-get($colors,danger);
        font-size:20px;
        font-family:'Gotham Medium';

    }
    // .ion-text{
    //     font-size: 4rem;
    // }
}
