page-reset-password {
    .scroll-content{
        padding:0px !important;
    }
    ion-title{
        padding-left:40px;
    }
    ion-content{
        background-image: url('../../assets/imgs/Android_bg.jpg');
        background-size:cover;
        background-repeat: no-repeat;
    }
    .labelhead{
        padding:15px 0px 15px 0px;
        color:#ffffff;
        font-size: 45px;
        font-weight: bold;
        font-family:'Franklin Gothic Medium',sans-serif;
        flex-wrap: nowrap;
        margin-top:20px;
    }
    
    form{
        padding-left:20px;
        padding-right:20px;

    }
    ion-row{
        align-items: center;
        text-align: center;
    }
    ion-input {
        font-size: 2rem;
        color: #ffffff;
        height: 6.8vh;
    }
    .text-input::-webkit-input-placeholder { 
        color: #ffffff;
    }
    .innericon{
        position: relative;
        border:1px solid #ffffff;
        border-radius: 0px !important;
        font-size:6vw;
        align-items: center;
        align-content: flex-start;


    }
    .innericon ion-icon{
        float: left;
        height: 100%;
        display: block;
        padding:10px;
    }
    .spacetag{
        height:10px;
    }
    .text-input-md {
        margin: 10px 8px;
        padding: 0.2rem;
        width: calc(100% - 8px - 8px);
    }
    .resetBtn{
        border:1px solid #ffffff;
        border-radius: 5px;
        color:#E91C1A;
        font-size:20px;
    }
    // .ion-text{
    //     font-size: 4rem;
    // }
}
