page-my-account {
    .scroll-content{
        padding:0px !important;
    }
    ion-title{
        padding-left:55px;
        font-family:'Gotham Bold';

    }
    ion-content{
        background-image: url('../../assets/imgs/Android_bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    .profileimg{
        padding:80px;
        background-color:map-get($colors,light);
        border-radius:50px;        
    }
    
    form{
        padding-left:20px;
        padding-right:20px;

    }
    ion-avatar,
    ion-avatar > img{
    border-radius:50%;
    height:12rem;
    width:12rem;
    margin:auto;
}
    .label-md {
        margin:0;
        padding:10px 0px 15px 0px;
    }
    ion-row{
        align-items: center;
        text-align: center;
    }
    ion-input {
        font-size: 2rem;
        color: map-get($colors,light);
        height: 6.8vh;
    }.ion-text{
        font-size: 4rem;
        font-family:'Gotham Medium';

    }
    .custom-register-label input[type]{
        margin-left: 0px;
    }
    .custom-login-label i {
        position: absolute;
    }
    ion-label{
        font-size: 20px;
        color: map-get($colors,light);
    }
    .innericon  ion-icon ion-input{
        font-family: 'Gotham Medium';
        font-size: 18px;
        color:map-get($colors,light);
        height: 7vh;
        
    }
    .innericon{
        position: relative;
        border:1px solid map-get($colors,light);
        border-radius: 0px !important;
        font-size:18px;
        font-family:'Gotham Medium';

    }
    .innericon ion-icon{
        float: left;
        height: 100%;
        width:10%;
        margin: 8px 10px 8px 8px;    
    }

    .text-input::-webkit-input-placeholder { 
        color: map-get($colors,light);
        font-size: 2rem;
        font-weight: bold;
    }
    .spacetag{
        height:10px;
    }
    
    .text-input-md {
        margin: 7px 10px;
        font-family:'Gotham Medium';
        width: calc(100% - 8px - 8px);
    }
    .editBtn{
        border:1px solid map-get($colors,light);
        border-radius: 5px;
        color:map-get($colors,danger);
        font-size:15px;
        font-family:'Gotham Medium';

    }
    .resetBtn{
        border:0px solid map-get($colors,light);
        color:map-get($colors,shareiconcolor);
        font-size:15px;
        border:5px solid map-get($colors,light);
        font-family:'Gotham Medium';

    }
    
}
