page-rating-productmodal {
   ion-row ion-col .button{
        border:1px solid map-get($colors, danger);
        border-radius: 5px;
        font-size:2rem;
        color:map-get($colors, light);
        width:50vw;
        text-align: center;
        left:25%;
        font-family: 'Gotham Medium';

     }
     ion-avatar{
        padding:0 50px 0 50px;
    }
    ion-avatar img{
        border:1px solid map-get($colors, dark);
        padding:5px;
    }
    ion-content ion-icon{
        color:map-get($colors,yellowcolor);
        font-size: 3.1em;
        // text-align:center;
    }
    .icon-cross:before {
        content: "\ea0f";
        color: #fff;
        font-size:15px;
      }
    .div{
    align-content: center;
    display: table;
    padding-left:70px;

    }
    ion-row ion-col h2 {
        font-size: 2rem;
        font-family: 'Gotham Medium';
    }
    ion-content div.scroll-content {
        background-color: transparent;
    }
    
}
