page-mycart {
    .scroll-content{
        padding:0px !important;
    }
    ion-title{
        padding-left:80px;
        font-family: 'Gotham Bold';

    }

    .item-md h3{
        margin: 2px 0;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: normal;
        font-size: 1.8rem;
        font-family: 'Gotham Book';

    }
    ion-item-sliding .item-md p{
        font-size:2rem;
        font-weight: normal;
        line-height: normal;
        color:map-get($colors , dark4 );
        font-family: 'Gotham Book';

    }
    ion-item-sliding ion-item ion-thumbnail{
        background:map-get($colors,danger);
    }
    ion-item-sliding ion-item h2{
        color:map-get($colors,shareiconcolor );
        font-family: 'Gotham Book';

    }
    ion-list ion-item h1{
        font-family: 'Gotham Medium';

    }
    .orderbtn{
        height:15vw;
        font-size:2rem;
        background: map-get($colors,danger);
        border-radius:10px;
        font-family: 'Gotham Medium';

    }
    .list-md ion-item-options .button {
    height: 40%;
    width: 12%;
    border: 2px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 5px;
    }
    .list-md{
        margin: 0px 0 0 0px;
        border-bottom: 2px solid;
        border-bottom-color: map-get($colors,secondary);
    }
    .button[icon-only] {
        padding: 5px;
        min-width: .9em;
    }
    .select-md {
        padding: 5px 5px 0px 5px;
    }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 30%;
        background: aliceblue;
    }
 [padding] h3:first-child{
    margin-top: 1rem;
 }
 .dropdown{
    float: left;
    width: 60%;
    padding-left: 0px;
    font-family: 'Gotham Medium';

}
}
