<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons left>
            <button ion-button navPop icon-only>
                <ion-icon clear class="icon-back" aria-hidden="true"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title *ngFor="let data of productDetails" color="danger">{{data.name}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only end>
                <ion-icon class="icon-add2"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content style="background-color:#ededed">
    <ion-list>
        <ion-item *ngFor="let data of productDetails">
            <h1>{{data.name}}</h1>
            <h2>Category - {{category_name}}</h2>
            <ion-row>
                <ion-col>
                    <h3 style="float:left;padding-top:5px;">{{data.producer}}</h3>
                    <div style="float:right;">
                        <ion-icon item-end *ngFor="let n of [1,2,3,4,5]; let i = index" [class]="i < data.rating ? 'icon-star' : 'fa fa-star'"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-card>
        <ion-card-header>
            <ion-row *ngFor="let data of productDetails">
                <ion-col>
                    <span item-start>Rs.{{data.cost}}</span>
                    <button ion-button icon-only clear (click)="regularShare(data.name,data.description)">
                        <ion-icon small class="icon-share" color="shareiconcolor"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>

            <ion-row center>
                <ion-col>
                    <ion-avatar>
                        <img src={{setProductImage}}>
                    </ion-avatar>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngFor="let images of productimages">
                    <ion-avatar>
                        <img src={{images.image}} (click)="setImage(images.image)" />
                    </ion-avatar>
                </ion-col>

            </ion-row>

        </ion-card-header>
        <hr>
        <ion-card-content>
            <ion-card-title color="dark4">
                DESRCIPTION
            </ion-card-title>
            <p *ngFor="let data of productDetails">
                {{data.description}}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-row *ngFor="let data of productDetails">
        <ion-col>
            <button ion-item color="danger" large (click)="openAddProductModal(data.name)">
                BUY NOW
            </button>
        </ion-col>
        <ion-col>
            <button ion-item color="danger" large (click)="openRatingProductModal(data.name)">
                RATE
            </button>
        </ion-col>
    </ion-row>
</ion-footer>