page-itemdetails {
    ion-toolbar{
        ion-title{
            margin:auto;
            align-content: center;
            font-weight:bold;
            font-family: 'Gotham Medium';
            padding-left:20px; 
        }
    }
ion-list{
    .icon-star-empty:before {
        font-size: 20px;
        fill: map-get($colors,secondary);

    }
    .icon-star:before {
        content: "\e913";
        color: #ffba00;
        font-size: 20px;

      }
        h1{
            color:map-get($colors,dark4);
            font-family: 'Gotham Medium';

        }
        h2, h3{
            color:color($colors,dark3,base);
            font-family: 'Gotham Book';

        }
        ion-icon{
            color:map-get($colors,secondary);
        
        }
        ion-item ion-row ion-col h3{
            display: table;
            align-content: center;
            font-family: 'Gotham Book';

        }
        
        .label-md {
            margin: 13px 8px 0 0;
        }
        .col{
            padding:0px;
        }
    
}
.card-md {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    margin-left: 10px;
}
.div{
    // position:relative;
    // display: inline-block;
    padding:3px;
}
.img {
    max-width: 25%;
    max-height: 25%;
    border: 1px solid map-get($colors,dark4);
}
ion-card-header{
    padding-bottom: 0px;
}
ion-card-content{
    font-family: 'Gotham Medium';

}
ion-card-title{
    font-weight: bold;
}
ion-scroll[scrollX] {
    white-space: nowrap;}

ion-scroll .wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
  }
//  ion-scroll .scroll-zoom-wrapper{
// height:50%;
// width:50%; }
 ion-scroll  .scroll-item {
    display: inline-block;
    
    }
.selectimg{
        padding: 5px;
        position: relative;
        margin: 0;
        min-height: 70px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100px;
}
.selectimg img{
    border:1px solid map-get($colors,dark4);

}
ion-card-header ion-row ion-col{
        span{
            color:map-get($colors,danger);
            font-size: 2.4rem;
            font-weight: bold;
            float:left;
        }
        button{
            float:right;
        }
    }

ion-footer{
    background-color: map-get($colors, light )
    ion-row{
        padding-left:5px;
        padding-right:5px;
    }
    button{
        border-radius: 5px;
        text-align:center;
    }
    a ion-label, button ion-label {
        pointer-events: none;
        text-align: center;
        font-weight: bold;
}
}
}